# Virtual environment
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Temporary files
*.xlsx
*.txt
*.json
*.log
!metadata.json
!project_info.json

# Local project files
projects/
backup/

# IDE files
.vscode/
.idea/

# Secret files
.env
